@charset "UTF-8";
/* CSS Document */



/*****************************************************************************************************************************************
	본고딕 폰트 사용법 : font-weight: 400; - DemiLight / font-weight: 600; - Regular / font-weight: 800; - Bold
*****************************************************************************************************************************************/
@font-face {
	font-family:'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(../../fonts/notokr-demilight.eot);
	src: local('.'),
		 url(../../fonts/notokr-demilight.eot?#iefix) format('embedded-opentype'),
		 url(../../fonts/notokr-demilight.woff) format('woff'),
		 url(../../fonts/notokr-demilight.ttf) format('truetype');
}
@font-face {
	font-family:'Noto Sans KR';
	font-style: normal;
	font-weight: 600;
	src: url(../../fonts/notokr-regular.eot);
	src: local('.'),
		 url(../../fonts/notokr-regular.eot?#iefix) format('embedded-opentype'),
		 url(../../fonts/notokr-regular.woff) format('woff'),
		 url(../../fonts/notokr-regular.ttf) format('truetype');
}
@font-face {
	font-family:'Noto Sans KR';
	font-style: normal;
	font-weight: 800;
	src: url(../../fonts/notokr-bold.eot);
	src: local('.'),
		 url(../../fonts/notokr-bold.eot?#iefix) format('embedded-opentype'),
		 url(../../fonts/notokr-bold.woff) format('woff'),
		 url(../../fonts/notokr-bold.ttf) format('truetype');
}

/*****************************************************************************************************************************************
	폰트사이즈 정의 - rem : 최상위 폰트정의 값에 상속 (사파리5+, 크롬, 파이어폭스 3.6+, 익스플로러9+) / em, % : 설정한 부모 폰트 사이즈에 상속
	8px == 0.8rem, 0.8em, 80%
	9px == 0.9rem, 0.9em, 90%
	10px == 1rem, 1em, 100% : 기본 사이즈 설정 값
	11px == 1.1rem, 1.1em, 110%
	12px == 1.2rem, 1.2em, 120%
	13px == 1.3rem, 1.3em, 130%
	14px == 1.4rem, 1.4em, 140%
	15px == 1.5rem, 1.5em, 150%
	16px == 1.6rem, 1.6em, 160%
	17px == 1.7rem, 1.7em, 170%
	18px == 1.8rem, 1.8em, 180%
*****************************************************************************************************************************************/


/* css reset */
html, body {  height: calc(100% - 20px); font-family:'Noto Sans KR', san-serif;  font-weight:400; font-size:12px; color:#3c3c3c; line-height:1.3; letter-spacing:-0.5px}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, header, hgroup, menu, output, ruby, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; vertical-align:baseline;}
a:link, a:hover, a:visited { text-decoration:none;}
h1, h2, h3, h4, h5, h6 { font-weight:normal;}
 .header {min-width: 600px;}
 .conwrap { min-width: 600px}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;}
ol, ul { list-style:none;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
table { border-collapse:collapse; border-spacing:0;word-break:break-all;}
button { border:0; box-sizing:border-box}
label { position:relative; top:1px; cursor:pointer}
input[readonly] {background:#ededed}
textarea {font-family:'Noto Sans KR', san-serif; }
input[type="checkbox"], input[type="radio"] { position: relative; top: 1px; font-size: 1.4rem}
input[type="text"] {vertical-align: bottom}
input[type="file"] { height:35px; *margin-top:4px; padding: 0; vertical-align: top}

/* 크롬 핵 */
@media screen and (-webkit-min-device-pixel-ratio:0){
 input[type="file"] { padding: 6px 5px 4px !important; height: 25px;}
}



/* placeholder color 적용 */
::-webkit-input-placeholder {color:#aaa;}/* WebKit, Blink, Edge */
:-moz-placeholder {color:#aaa;} /* Mozilla Firefox 4 to 18 */
::-moz-placeholder {color:#aaa;}/* Mozilla Firefox 19+ */
:-ms-input-placeholder {color:#aaa;}/* Internet Explorer 10-11 */

.itext, .select, .textarea, .ifile { font-size:1.3rem; font-family:'Noto Sans KR', san-serif; font-weight:400; box-sizing:border-box;-moz-box-sizing:border-box; -webkit-box-sizing:border-box; -ms-box-sizing:border-box; border:1px solid #b5b5b5; padding:5px; display:inline-block} /* 익스 9부터 적용가능, 아이폰 둥근 모서리 설정빼기 */
.select {vertical-align:top !important;}

/* 아래 정의된 값은 복수 클래스로 사용되나, 최대한 지양합니다. */
.alignL {text-align:left !important;}
.alignC {text-align:center !important;}
.alignR {text-align:right !important;}

.fl {float:left !important;}
.fr {float:right !important;}
.fn {float:none !important;}
.clear {clear:both !important;}

.positionWrap {position:relative;}
.positionL {position:absolute;left:0;top:0;}
.positionR {position:absolute;right:0;top:0;}


/* 간격 (간격조절이 필요할 경우 class 추가) */
.space01 { width:100%; height:1px; float:left; clear:both;}
.space05 { width:100%; height:5px; float:left; clear:both;}
.space10 { width:100%; height:10px; float:left; clear:both;}
.space15 { width:100%; height:15px; float:left; clear:both;}
.space20 { width:100%; height:20px; float:left; clear:both;}
.space25 { width:100%; height:25px; float:left; clear:both;}
.space30 { width:100%; height:30px; float:left; clear:both;}
.space35 { width:100%; height:35px; float:left; clear:both;}
.space40 { width:100%; height:40px; float:left; clear:both;}
.space50 { width:100%; height:50px; float:left; clear:both;}
.space51 { width:100%; height:51px; float:left; clear:both;}
.space55 { width:100%; height:55px; float:left; clear:both;}
.space60 { width:100%; height:60px; float:left; clear:both;}
.space70 { width:100%; height:70px; float:left; clear:both;}
.space80 { width:100%; height:80px; float:left; clear:both;}
.space88 { width:100%; height:88px; float:left; clear:both;}
.space100 { width:100%; height:100px; float:left; clear:both;}
.space160 { width:100%; height:160px; float:left; clear:both;}
.space170 { width:100%; height:170px; float:left; clear:both;}



/* 가로사이즈 (테이블 col class로 사용 필요할 경우 class 추가) */
.width30 { width:30px !important;}
.width40 { width:40px !important;}
.width50 { width:50px !important;}
.width55 { width:55px !important;}
.width60 { width:60px !important;}
.width70 { width:70px !important;}
.width80 { width:80px !important;}
.width90 { width:90px !important;}
.width100 { width:100px !important;}
.width120 { width:120px !important;}
.width130 { width:130px !important;}
.width140 { width:140px !important;}
.width150 { width:150px !important;}
.width160 { width:160px !important;}
.width170 { width:170px !important;}
.width180 { width:180px !important;}
.width190 { width:190px !important;}
.width200 { width:200px !important;}
.width210 { width:210px !important;}
.width220 { width:220px !important;}
.width230 { width:230px !important;}
.width240 { width:240px !important;}
.width250 { width:250px !important;}
.width260 { width:260px !important;}
.width270 { width:270px !important;}
.width280 { width:280px !important;}
.width290 { width:290px !important;}
.width300 { width:300px !important;}
.width310 { width:310px !important;}
.width315 { width:315px !important;}
.width320 { width:320px !important;}
.width330 { width:330px !important;}
.width340 { width:340px !important;}
.width350 { width:350px !important;}
.width360 { width:360px !important;}
.width370 { width:370px !important;}
.width380 { width:380px !important;}
.width390 { width:390px !important;}
.width400 { width:400px !important;}
.width450 { width:450px !important;}
.width500 { width:500px !important;}
.width507 { width:507px !important;}
.width520 { width:520px !important;}
.width530 { width:530px !important;}
.width550 { width:550px !important;}
.width566 { width:566px !important;}
.width570 { width:570px !important;}
.width573 { width:573px !important;}
.width580 { width:580px !important;}
.width600 { width:600px !important;}
.width650 { width:650px !important;}
.width700 { width:700px !important;}
.width790 { width:790px !important;}
.width797 { width:797px !important;}
.width800 { width:800px !important;}
.width1000 { width:1000px !important;}
.widthauto { width:auto !important;}
.width5p { width:5% !important;}
.width9p { width:9% !important;}
.width10p { width:10% !important;}
.width13p { width:13% !important;}
.width15p { width:15% !important;}
.width20p { width:20% !important;}
.width30p { width:30% !important;}
.width32p { width:32% !important;}
.width33p { width:33% !important;}
.width48p { width:48% !important;}
.width49p { width:49% !important;}
.width70p { width:70% !important;}
.width80p { width:80% !important;}
.width85p { width:85% !important;}
.width90p { width:90% !important;}
.width100p { width:100% !important;}


/* height */
.height100 { height:100px;}
.height150 { height:150px;}
.height200 { height:200px;}
.height250 { height:250px;}
.height300 { height:300px;}
.height400 { height:400px;}
.height450 { height:450px;}
.height480 { height:480px;}
.height500 { height:89%;}


/* padding */
.pdtop10 { padding-top:10px;}
.pd20 { padding:20px !important;}
.pd05 td { padding:5px !important;}


/* margin-top */
.mt16 { margin-top: 16px;}
.mt20 { margin-top: 20px;}
.mt23 { margin-top: 23px;}
.mt25 { margin-top: 25px;}

/* margin-left */
.ml05 { margin-left: 5px;}
.ml10 { margin-left: 10px;}
.ml20 { margin-left: 20px;}

/* height */



/* input */
.checkgroup label, .radiogroup label { margin-right: 5px; font-size: 1.4rem}
.checkbox {}
.radio {}



/* tooltip */
.tooltip {position: absolute;z-index: 99999;display: block;font-family:'Noto Sans KR', san-serif;font-size: 1.3rem;font-weight: 400;line-height: 1.4;visibility: visible;filter: alpha(opacity=0);opacity: 0}
.tooltip.in {filter: alpha(opacity=90);opacity: .9}
.tooltip.in h3 { font-size: 1.8rem; font-weight: 600; margin-top:0 !important; margin-bottom: 10px !important}
.tooltip.in h5 { font-size: 1.6rem; font-weight: 600}
.tooltip.top {padding: 5px 0;margin-top: -3px}
.tooltip.right {padding: 0 5px;margin-left: 3px}
.tooltip.bottom {padding: 5px 0;margin-top: 3px}
.tooltip.left {padding: 0 5px;margin-left: -9px}
.tooltip-inner {width: auto; max-width:470px; min-width:100px; padding: 5px 8px;color: #fff;text-align: left;text-decoration: none;background-color: #000;border-radius: 4px;white-space:normal;}
.tooltip-inner strong {font-size: 1.4rem;font-weight: bold;}
.tooltip-arrow {position: absolute;width: 0;height: 0;border-color: transparent;border-style: solid}
.tooltip.top .tooltip-arrow {bottom: 0;left: 50%;margin-left: -5px;border-width: 5px 5px 0;border-top-color: #000}
.tooltip.top-left .tooltip-arrow {right: 5px;bottom: 0;margin-bottom: -5px;border-width: 5px 5px 0;border-top-color: #000}
.tooltip.top-right .tooltip-arrow {bottom: 0;left: 5px;margin-bottom: -5px;border-width: 5px 5px 0;border-top-color: #000}
.tooltip.right .tooltip-arrow {top: 50%;left: 1px;margin-top: -5px;border-width: 5px 5px 5px 0;border-right-color: #000}
.tooltip.left .tooltip-arrow {top: 50%;right: 0;margin-top: -5px;border-width: 5px 0 5px 5px;border-left-color: #000}
.tooltip.bottom .tooltip-arrow {top: 0;left: 50%;margin-left: -5px;border-width: 0 5px 5px;border-bottom-color: #000}
.tooltip.bottom-left .tooltip-arrow {top: 0;right: 5px;margin-top: -5px;border-width: 0 5px 5px;border-bottom-color: #000}
.tooltip.bottom-right .tooltip-arrow {top: 0;left: 5px;margin-top: -5px;border-width: 0 5px 5px;border-bottom-color: #000}



/* popover */
.popover {position: absolute;top: 0;left: 0;z-index: 1060;display: none;max-width: 276px;padding: 1px;font-family:'Noto Sans KR', san-serif;font-size: 1.3rem;font-weight: 400;line-height: 1.42857143;text-align: left;white-space: normal;background-color: #fff;	-webkit-background-clip: padding-box;background-clip: padding-box;border: 1px solid #ccc;border: 1px solid rgba(0,0,0,.2);	border-radius: 6px;	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);box-shadow: 0 5px 10px rgba(0,0,0,.2)}
.popover.top {margin-top: -10px}
.popover.right {margin-left: 10px}
.popover.bottom {margin-top: 10px}
.popover.left {margin-left: -10px}
.popover-title {padding: 8px 14px;margin: 0;font-size: 14px;background-color: #f7f7f7;border-bottom: 1px solid #ebebeb;border-radius: 5px 5px 0 0}
.popover-content {padding: 9px 14px}
.popover>.arrow, .popover>.arrow:after {position: absolute;display: block;width: 0;height: 0;border-color: transparent;border-style: solid}
.popover>.arrow {border-width: 11px}
.popover>.arrow:after {content: "";border-width: 10px}
.popover.top>.arrow {bottom: -11px;left: 50%;margin-left: -11px;border-top-color: #999;border-top-color: rgba(0,0,0,.25);border-bottom-width: 0}
.popover.top>.arrow:after {bottom: 1px;margin-left: -10px;content: " ";border-top-color: #fff;border-bottom-width: 0}
.popover.right>.arrow {top: 50%;left: -10px;margin-top: -11px;border-right-color: #999;border-right-color: rgba(0,0,0,.25);border-left-width: 0}
.popover.right>.arrow:after {bottom: -10px;left: 1px;content: " ";border-right-color: #fff;border-left-width: 0}
.popover.bottom>.arrow {top: -11px;left: 50%;margin-left: -11px;border-top-width: 0;border-bottom-color: #999;border-bottom-color:rgba(0,0,0,.25)}
.popover.bottom>.arrow:after {top: 1px;margin-left: -10px;content: " ";border-top-width: 0;border-bottom-color: #fff}
.popover.left>.arrow {top: 50%;right: -11px;margin-top: -11px;border-right-width: 0;border-left-color: #999;border-left-color:rgba(0,0,0,.25)}
.popover.left>.arrow:after {right: 1px; bottom: -10px;content: " ";	border-right-width: 0; border-left-color: #fff}



/* modal */
.close {float: right;font-size: 21px;font-weight: 700;line-height: 1;color: #000;text-shadow: 0 1px 0 #fff;filter: alpha(opacity=20);opacity: .2}
.close:focus, .close:hover {color: #000;text-decoration: none;cursor: pointer;filter: alpha(opacity=50);opacity: .5}
.glyphicon-modal-window:before {content: "\e237"}
button.close {-webkit-appearance: none;padding: 0;cursor: pointer;background: 0 0;border: 0}
.modal-title { font-size: 1.8rem; font-weight: 600}
.modal-open {overflow: hidden}
.modal {position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 99999;display: none;overflow: hidden;-webkit-overflow-scrolling: touch;outline: 0}
.modal.fade .modal-dialog { -webkit-transition: -webkit-transform .3s ease-out; -o-transition: -o-transform .3s ease-out;transition: transform .3s ease-out;-webkit-transform: translate(0, -25%);-ms-transform: translate(0, -25%);-o-transform: translate(0, -25%);transform: translate(0, -25%)}
.modal.in .modal-dialog {-webkit-transform: translate(0, 0);-ms-transform: translate(0, 0);-o-transform: translate(0, 0);transform: translate(0, 0);}
.modal-body span { font-size:1.3rem; display:inline-block; vertical-align: middle; margin-right: 3px; line-height: 36px;}
.modal .itext { height: 36px !important;}
.modal-open .modal {overflow-x: hidden;	overflow-y: auto}
.modal-dialog {	position: relative;	width: auto;margin: 10px}
.modal-content {position: relative;	background-color: #fff;	-webkit-background-clip: padding-box;background-clip: padding-box; border: 1px solid #999;border: 1px solid rgba(0,0,0,.2); border-radius: 6px;	outline: 0;	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);box-shadow: 0 3px 9px rgba(0,0,0,.5)}
.modal-backdrop {position: absolute;top: 0;	right: 0;left: 0;background-color: #000}
.modal-backdrop.fade {filter: alpha(opacity=0);	opacity: 0}
.modal-backdrop.in {filter: alpha(opacity=50);opacity: .5}
.modal-header {	min-height: 16.43px;padding: 15px;border-bottom: 1px solid #e5e5e5}
.modal-header .close {margin-top: -2px}
.modal-title {margin: 0;line-height: 1.42857143}
.modal-body {position: relative;padding: 15px;text-align: center;}
.modal-footer {	padding: 15px;text-align: right;border-top: 1px solid #e5e5e5}
.modal-footer .btn+.btn {margin-bottom: 0;margin-left: 5px}
.modal-footer .btn-group .btn+.btn {margin-left: -1px}
.modal-footer .btn-block+.btn-block {margin-left: 0}
.modal-scrollbar-measure {position: absolute;top: -9999px;width: 50px;height: 50px;	overflow: scroll}
.modal-dialog {	width: 600px;margin: 30px auto}
.modal-content {-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);box-shadow: 0 5px 15px rgba(0,0,0,.5)}
.modal-sm {	width: auto; max-width:900px; top: 200px;}


/* popover */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}

/* loading */
#loading {width:80px !important; /*background-color: rgba(255, 255, 255, 0.8);*/ margin:0 auto; padding:10px; position:relative; text-transform:uppercase; font-size:1.3rem; color:#3498db;}
#loading:after { content: ""; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; -moz-animation:wormsPong cubic-bezier(0.77, 0, 0.175, 1) 0.8s infinite; -webkit-animation:wormsPong cubic-bezier(0.77, 0, 0.175, 1) 0.8s infinite; animation:wormsPong cubic-bezier(0.77, 0, 0.175, 1) 0.8s infinite; background-color:#3498db; position:absolute; bottom:0; left:0; width:6px; height:4px; border-radius: 10px;}

@-moz-keyframes wormsPong {
	25% {width: 100%;} 50% {width:0; left:auto; right:0;} 75% {width:100%;} 100% {width:0; right:auto; left:0;}
}
@-webkit-keyframes wormsPong {
	25% {width:100%;} 50% {width:0; left:auto; right:0;} 75% {width:100%;} 100% {width:0; right:auto; left:0;}
}
@keyframes wormsPong {
	25% {width:100%;} 50% {width:0; left:auto; right:0;} 75% {width:100%;} 100% {width:0; right:auto; left:0;}
}

#loading { position:absolute; top:50%; left:50%; -moz-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%);}
